body {
    background: rgb(0, 0, 0);
    font: normal 13pt courier;

}

header {
    color: white;
    text-align: center;
}

section {
    background: whitesmoke;
    border-radius: 10px; /* deixar a bordinha do quadradinho branco arredondado */
    padding: 15px; /* espaçamento dentro do padding */
    width: 500px; /* o tamanho do quadrado branco */
    margin: auto; /* vai deixar centralizado o quadrado banco */
    box-shadow: 3px 3px 10px black; /* vai criar uma sombra na caixa de texto */

}

footer {
    color: white; /* vai deixar o texto branco */
    text-align: center; /* vai deixar o texto centralizado */
    font-style: italic; /* vai deixar em italico */
}